SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=*
BYPASS_OTP_VERIFICATION=True
BYPASS_CNIC_VERIFICATION=True

DB_NAME=door_db
DB_USER=door_user
DB_PASSWORD=door_secret
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

FIREBASE_CREDENTIALS_PATH=config/firebase-service-account.json

DJANGO_SETTINGS_MODULE=config.settings.development
